<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>

</body>
<h1>Edit Book</h1>
<form action="/musicspace/<%= songs._id %>?_method=PUT" method="POST">
    Song Title: <input type="text" name="songTitle" value="<%= songs.songTitle %>">
    Artist: <input type="text" name="author" value="<%= songs.artist %>">
    Genre: <input type="text" name="genre" value="<%= songs.genre %>"
    
    <input type="submit" value="update song">
</form>
</html>