<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <nav>
        <a href="/musicspace">back to playlist.</a>
    </nav>
    <div>
    <h1><%= songs.songTitle %></h1>
    <p><b>artist.</b> <%= songs.artist %></p>
    <p><b>genre.</b> <%= songs.genre %></p>
    <p><b>play</b> <a href="<%= songs.spotifyLink %>" target=”_blank” >song.</a></p>

    <label>
        <b>whats your rating.</label></b>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </label>
    
    <input type="submit" value="add your rating" class="Btn">
    </div>
</form>

</body>
</html>